body{
    font-family: 'Roboto', sans-serif;
    margin: 5rem;
    background-color: #2A2739;
    min-width: 1140px;
}
img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    color: white;
}
.container{
   display: flex;
   align-items: center;
}
.prof{
    margin:5rem 1rem 1rem 2rem;
    background-color: #5B587E;
    padding: 2rem;
    border-radius: 15px;
    font-size: 2rem;
    color: white;
    
}